
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');


/* ------------------------ General styles ------------------------ */
:root {
  --brand-color: #E3535C;
  --bg-color: #F5F5F5;
  --text-black-color: #1F1A1A;
  --text-grey-color: #756868;
}

body {
  font-family: "Miriam Libre", serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #1F1A1A;
  background-color: var(--bg-color);
}

a {
  color: var(--brand-color);
}

a:hover {
  color: var(--brand-color);
}

.container {
  max-width: 62em;
  padding: 0 30px;
}

.btn {
  border: 2px solid var(--brand-color);
  padding: .8em 1.6em;
  border-radius: 0;
  color: var(--brand-color);
  font-weight: 700;
}

.btn:hover {
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
}

.btn:focus {
  box-shadow: none;
}


textarea {
  resize: none;
}

textarea:focus {
  box-shadow: none;
  outline: none;
}

/* ------------------------ Jumbotron ------------------------ */

.jumbotron {
  margin: 0; 
  padding: 0;
  margin-top: 8vw;
  background-color: var(--bg-color);
}

/* ------------------------ Main Navbar ------------------------ */

.navbar {
  padding: 0;
  /* margin-left: 2em; */
}

.navbar .container {
  padding: 0 30px;
}

.navbar-nav {
  margin-left: -.5rem;
}

.nav-link {
  padding: 0;
}

.nav-item > .active {
  font-weight: 700;
}

.nav-item:hover {
  /* font-weight: 700; */
    text-decoration: underline;
}


/* ------------------------ Secondary Navbar ------------------------ */

.secondary-nav-title {
  text-align: center;
}

@media (min-width: 72em) {
  .secondary-nav-title {
    margin-left: -90px;
    text-align: left;
  }
}

.chevron-left {
  width: 11px;
  margin-top: 6px;
  /* margin-right: 6px; */
}

.chevron-left:hover {
    cursor:pointer;
}

@media (min-width: 72em) {
  .chevron-left {
    margin-left: -32px;
  }
}

/* ------------------------ Wish cards in list ------------------------ */

.card {
  background-color: var(--bg-color);;
  border: none;
}

.card a {
  color: var(--text-black-color);;
}

.card-body {
  padding: 24px 24px 0 0;
}

.card-subtitle {
  font-size: 16px;
  color: var(--text-grey-color);;
}

/* .card-body > a:hover { */
  /* text-decoration: none; */
  /* font-weight: 700; */
/* } */


@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}


.heart-icon {
  width: 15px;
  padding-bottom: 3px;
  margin-right: 4px;
}

/* ------------------------ Single wish cards ------------------------ */

.single-wish {
  line-height: 3em;
  
}

/* .single-wish .card-body {
  padding: 0 0 0 2em;
  margin-top: 2em;
  border-left: 3px solid var(--brand-color);
} */

.single-wish-title {
  font-size: 24px;
}

/* ------------------------ Shuffle button ------------------------ */

.container-btn-shuffle {
  background-color: var(--bg-color);
  padding-top: 1em;
  padding-bottom: 10vw;
  text-align: center;
}

@media (min-width: 62em) {
  .container-btn-shuffle {
    text-align: left;
  }
}



/* ------------------------ Make wish button ------------------------ */

.container-btn-make-wish {
  background-color: var(--bg-color);
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}

@media (min-width: 48em) {
  .container-btn-make-wish {
    text-align: left;
    padding-top: 2em;
    padding-bottom: 4em;
  }
}



/* ------------------------ Make a Wish page ------------------------ */

.btn-release-wish {
  margin-top: 2em;
}

#wish {
  background-color: var(--bg-color);
  border: none;
  margin-top: 3em;
  height: 4em;
  padding: 0;
}
