@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

body {
  font-family: "Miriam Libre", serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #1F1A1A;
  background-color: #F5F5F5;
}



a {
  color: #E3535C;
}



.container {
  max-width: 1200px;
  padding: 0 24px;
}

.jumbotron {
  margin: 0; 
  padding: 0;
  margin-top: 8vw;
  background-color: #F5F5F5;
}

.navbar {
  padding: 0;
  margin-left: 2em;
}

.nav-link {
  padding: 0;
}

.nav-item > .active {
  font-weight: 700;
}

.card {
  background-color: #F5F5F5;
  border: none;
}

.card a {
  color: #1F1A1A;
}

.card-body {
  padding: 24px 24px 0 0;
}

.card-subtitle {
  font-size: 16px;
  color: #756868;
}

a:hover {
  text-decoration: none;
  font-weight: 700;
}

.heart-icon {
  width: 15px;
  padding-bottom: 3px;
  margin-right: 4px;
}

.single-wish {
  line-height: 3em;
}

.single-wish-title {
  font-size: 24px;
}